* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #00aaff, #004d99);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#weather-search-params {
    text-align: center;
    padding: 20px;
}

#weather-search-params h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#locationInput {
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 200px;
    margin-right: 10px;
    outline: none;
    color: black;
}

#checkButton {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    background-color: #ff9900;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#checkButton:hover {
    background-color: #ff7f00;
}

#weather-results-container {
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;

    max-height: 70vh;
    overflow-y: auto; 
    padding-right: 10px;
}

.weather-block {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.weather-date {
    font-size: 1.1rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.weather-temperature {
    font-size: 2rem;
    margin-bottom: 10px;
}

.weather-temperature-feels-like {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #ffcc00;
}

.weather-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.weather-description {
    font-size: 1rem;
    font-style: italic;
    color: #ccc;
}


@media (max-width: 768px) {
    #weather-search-params h1 {
        font-size: 2.5rem;
    }

    #locationInput, #checkButton {
        width: 100%;
        margin-bottom: 10px;
    }

    .weather-block {
        padding: 15px;
    }

    .weather-temperature {
        font-size: 1.8rem;
    }

    .weather-date {
        font-size: 1rem;
    }
}